# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite
*.log

# Virtual Environment (assuming it's inside the root folder or 'venv' folder)
venv/
.env/
.env
*.env
.env.*

# Dependency directories
/requirements.txt


# MySQL / PostgreSQL
*.sql
*.sqlite
db.sqlite3
*.pgdata/

# Docker
**/docker-compose.override.yml
**/docker-compose.local.yml
**/Dockerfile

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Linux
*.swp

# Operating system specific files
Thumbs.db
ehthumbs.db

# Dependencies
node_modules/
__pycache__/
*.pyc
.env

# Build
dist/
build/
*.local
